version: '3'

services:
  web:
    stdin_open: true
    tty: true
    build: .
    command: sh
    volumes:
      - .:/code
    ports:
      - "8000:8000"
  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379" # Probably not necessary, given that both are containers. TODO check
